/* 
***************
Reset Default
***************
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
***************
Design System
***************
*/

/* Color */

:root {
    --bg-header: #315EE9;
    --main-color: #7289DA;
    --snd-color: #ffffff;
    --trd-color: #23272A;
}

/* Typography */

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 30px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 30px;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 40px;
}

h5 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 10px;
}

h6 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

/* Button */

button {
    background-color: var(--snd-color);
    padding: 12px 20px;
    border: none;
    border-radius: 24px;
    font-size: 18px;

}

.button--alt {
    background-color: var(--trd-color);
    color: var(--snd-color);
}

.button--small {
    color: var(--trd-color);
    padding: 10px 14px;
    font-size: 14px;
}

footer button {
    background-color: #7289DA;
    padding: 10px 14px;
    color: #ffffff;
    font-size: 14px;
}

.cta button {
    background-color: #7289DA;
    color: #ffffff;
}

/* 
---------------
Header
---------------
*/

/* Header top */

header {
    padding-top: 20px;
    background-color: var(--bg-header);
    color: var(--snd-color);
}

.header__top {
    display: flex;
    align-items: center;
}

.header__top__brand {
    width: 20%;
}

.header__top__brand img {
    width: 100px;
}

.header__top nav {
    width: 60%;
    justify-content: center;
}

.header__top__nav__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header__top__login {
    width: 20%;
    justify-content: flex-end;
}

/* Above */

.above {
    background-color: var(--bg-header);
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.above .container {
    width: 800px;
    text-align: center;
}

.container-fullwidth {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 24px;
}

/* 
---------------
Main
---------------
*/

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 120px 24px;
}

.container--column {
    display: flex;
}

section {
    padding: 34px 0px;
}

main section:nth-child(2n + 2) {
    background-color: #F6F6F6;
}

main img {
    width: 100%;
}

.cta {
    width: 65%;
    padding: 40px 0px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

/* Container Column */

.big-column {
    width: 60%;
}

.small-column {
    width: 40%;
}

/* 
---------------
Footer
---------------
*/

.lang {
    display: flex;
    align-items: center;
    color: white;
}

.lang p {
    font-size: 12px;
    margin: 0px;
}

.lang img {
    width: 20px;
    margin-right: 10px;
}

.social {
    padding: 10px 0px;
    display: flex;
    gap: 20px;
}

/* Menu Footer */

footer {
    background-color: #23272A;
}

footer .small-column {
    display: flex;
    flex-direction: column;
}

footer .small-column h6 {
    color: #7289DA;
    font-size: 16px;
    margin-bottom: 10px;
}

footer .small-column a {
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}

footer .footer-column {
    width: 35%;
    padding-right: 40px;
}

footer .group-small-column {
    display: flex;
    width: 65%;
}

footer .small-column {
    width: calc(100%/4);
}

/* Footer */



section.footer {
    padding: 20px 0px 0px
}

section.footer .container {
    justify-content: space-between;
    align-items: center;
}

footer section {
    padding-top: 20px;
}

footer section:first-child .container {
    padding-bottom: 0px;
}

.footer-line {
    border-top: 1px solid #7289DA;
    padding: 20px 0px 40px;
}