/* 
***************
Reset Default
***************
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
***************
Design System
***************
*/

body {
    font-family: Roboto, sans-serif, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

section {
    padding: 34px 0px;
}

.top-header {
    width: 1000px;
    margin: 0 auto;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 120px 24px;
}

.container-fullwidth {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 24px;
}

button {
    background-color: #ffffff;
    padding: 12px 18px;
    border: none;
    border-radius: 24px;
    font-size: 18px;
}

button.alt {
    background-color: #23272A;
    color: #ffffff;
    padding: 12px 18px;
    border: none;
    border-radius: 24px;
    font-size: 18px;
}

.login button {
    padding: 10px 14px;
    color: #404EED;
    font-size: 14px;
}

footer button {
    background-color: #7289DA;
    padding: 10px 14px;
    color: #ffffff;
    font-size: 14px;
}

.cta button {
    background-color: #7289DA;
    color: #ffffff;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 30px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 30px;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 40px;
}

h5 {
    color: #7289DA;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

/* 
---------------
Header
---------------
*/

header {
    padding-top: 20px;
    color: #ffffff;
    background-color: #315EE9;
}

.top-header {
    display: flex;
    align-items: center;
}

.brand {
    width: 20%;
}

.brand img {
    width: 100px;
}

nav {
    width: 60%;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.login {
    width: 20%;
    justify-content: flex-end;
}

/* Above */

.above {
    background-color: #315EE9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.above .container {
    width: 800px;
    text-align: center;
}

.group-button :first-child {
    margin-right: 20px;
}





/* 
---------------
Main
---------------
*/

main section:nth-child(2n + 2) {
    background-color: #F6F6F6;
}

main img {
    width: 100%;
}

.cta {
    width: 65%;
    padding: 40px 0px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

/* Container Collumn */

.big-collumn {
    width: 60%;
}

.small-collumn {
    width: 40%;
}

/* 
---------------
Footer
---------------
*/

.lang {
    display: flex;
    align-items: center;
    color: white;
}

.lang p {
    font-size: 12px;
    margin: 0px;
}

.lang img {
    width: 20px;
    margin-right: 10px;
}

.social {
    padding: 10px 0px;
    display: flex;
    gap: 20px;
}


/* Menu Footer */

footer {
    background-color: #23272A;
}

footer .small-collumn {
    display: flex;
    flex-direction: column;
}

footer .small-collumn h6 {
    color: #7289DA;
    font-size: 16px;
    margin-bottom: 10px;
}

footer .small-collumn a {
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}

footer .footer-column {
    width: 35%;
    padding-right: 40px;
}

footer .group-small-collumn {
    display: flex;
    width: 65%;
}

footer .small-collumn {
    width: calc(100%/4);
}

/* Footer */



section.footer {
    padding: 20px 0px 0px
}

section.footer .container {
    justify-content: space-between;
    align-items: center;
}

footer section {
    padding-top: 20px;
}

footer section:first-child .container {
    padding-bottom: 0px;
}

.footer-line {
    border-top: 1px solid #7289DA;
    padding: 20px 0px 40px;
}